{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>
            葫芦娃个人博客
    </title>
    <link href="{% static '/css/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}"/>
    <link href="{% static 'images/huluwa_icon.jpg' %}" rel="shortcut icon"/>
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
</head>

<body style="background-image: url({% static 'images/xiaomao.jpg' %});font-size: large;color: red;">
    <div class="w_header_nav">
        <div class="container">
            <div class="w_header_top">
                <span class="w_header_nav">
					<ul>
                            <li><a href="{% url 'blogs:首页' %}" class="active">首页</a></li>
                            <li><a href="{% url 'blogs:关于我' %}" class="active">关于</a></li>
                            <li><a href="{% url 'blogs:评论' %}" class="active">留言</a></li>
                            {% if request.session.ID %}
                                <li><a href="" class="active">{{ request.session.phone }}</a></li>
                                <li><a href="{% url 'blogs:注销' %}" class="active">退出登录</a></li>
                            {% else %}
                                <li><a href="{% url 'blogs:登录' %}" title="登录" class="active">登录</a></li>
                                <li><a href="{% url 'blogs:注册' %}" title="注册" class="active">注册</a></li>
                            {% endif %}
                        </ul>
				</span>
                <div class="w_search">
                    <div class="w_searchbox">
                        <form action="/search/" method="get">
                            <input type="text" name="q" value="" class="cate-input" placeholder="search"/>
                            <input type="submit" class="cate-btn" value="搜索"/>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="w_container">
        <div class="container">
            <div class="row w_main_row">

                <ol class="breadcrumb w_breadcrumb">
                    <li><a href="{% url 'blogs:首页' %}">首页</a></li>
                    <li class="active">关于我</li>
                    <span class="w_navbar_tip">骚是一种罪</span>
                </ol>

                <div class="col-lg-9 col-md-9 w_main_left" style="height: 1000px;">
                    <div class="about">
                        <h2>关于我</h2>
                        <ul>
                            <p>人生的大起大落。。。</p>
                            <p>只有自己变得更强,才会有更大的世界</p>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 w_main_right">
                    <div class="about_c">

                        <p>姓名：贺禄 </p>
                        <p>生日：1992-08-25</p>
                        <p>邮箱：hl15828495573@163.com</p>
                        <p>籍贯：四川-绵阳</p>
                        <p>现居：四川-成都</p>
                        <p>职业：爬虫工程师</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>